<p>calc works!</p>
<div class="container">
    <div class="row">
        <div class="col col-sm-6">
                <table>
                        <tr>
                            <td> Number 1</td>
                            <td><input type="text" name="n1" id="" [(ngModel)]=num1></td>
                        </tr>
                        <tr>
                            <td> Number 2</td>
                            <td><input type="text" name="n2" id="" [(ngModel)]=num2></td>
                        </tr>
                        <tr>
                            <td><input type="button" value="Add" (click)="add()"></td>
                            <td><input type="button" value="Subtract" (click)="subtract()"></td>
                        </tr>
                    </table>
                    <h2 *ngIf="view"> {{result}}</h2>
        </div>
    </div>
</div>


