<p>signup works!</p>
<div class="container">
    <div class="row">
        <div class="col col-4 col-sm-4"></div>
        <div class="col col-4 col-sm-4">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="fname" id=""></td>
                </tr>
                <tr>
                    <td>Last Name</td>
                    <td><input type="text" name="lname" id=""></td>
                </tr>
                <tr>
                    <td>Email</td>
                    <td><input type="text" name="email" id=""></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="pwd" id=""></td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="SignUp">
                    </td>
                </tr>
            </table>
        </div>
        <div class="col col-4 col-sm-4"></div>
    </div>
</div>